#splitter {
    width: 100%;
    height: 100%;
}

.dx-item-content .dx-splitter-item-content {
    overflow: hidden;
}

#splitter_options {
    height: 100%;
}

#splitter_options_confirm_btn {
    border-radius: 50%;
}