.script-options {
    height: 100%;
}

#ScriptPopUp {
    height: 100%;
}

.monaco-editor {
    width: 100%;
}

.dx-tabs-wrapper {
    height: 50px;
}

#scriptOptions_container {
    display: flex;
    justify-content: center;
    margin: 10px;
}

#scriptOptions {
    width: 100%;
    padding: 5px;
}

#scriptFileManager_container {
    padding: 15px;
    height: 100%;
}