@import url('https://talesxavier1.github.io/GH-CDN/TypeScriptEditor/lib/DevExtreme/css/dx-diagram.min.css');
@import url('https://talesxavier1.github.io/GH-CDN/TypeScriptEditor/lib/DevExtreme/css/dx.darkmoon.css');
/* @import url('https://talesxavier1.github.io/GH-CDN/TypeScriptEditor/lib/DevExtreme/css/dx.light.css'); */
@import url('https://talesxavier1.github.io/GH-CDN/TypeScriptEditor/lib/sweetalert2/sweetalert2.min.css');
@import "./UI/Diagram/Driagram.css";
@import "./UI/splitter/Splitter.css";
@import "./UI/Options/ScriptOptions/ScriptOptionsUI.css";

* {
    padding: 0;
    margin: 0;
    border: 0;
}

body,
html {
    width: 100%;
    height: 100%;
}

.swal2-container {
    z-index: 1502;
}