@import "./UI/Driagram.css";

* {
    padding: 0;
    margin: 0;
    border: 0;
}

body,
html {
    width: 100%;
    height: 100%;
}

.dx-viewport {
    width: 100%;
    height: 100%;
}

#diagrama {
    padding: 20px;
    width: 100%;
    height: 700px;
    margin-top: 10px;
}